<!DOCTYPE html>
<html>
    <head>form for Found</head>

    <body>
        <form action ="http://127.0.0.1:5000/found" method="post" enctype="multipart/form-data">
            <label for="date">Date:</label><br>
            <input type="date" id="date" name="date"><br>
            <label for="location">location:</label><br>
            <input type="text" id="location" name="location"><br>
            <label for="description">description:</label><br>
            <input type="text" id="description" name="description"><br>
            <label for="photo">photo:</label><br>
            <input type="file" name="photo" id="photo" accept="image/*"><br>
            <button>submit</button><br>
        </form>
    </body>
</html>

